body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.search-form {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  padding: 15px 0 15px 0;
  background: rgba(6, 71, 80, 0.959);
  
}

input {
  margin-left: 30px;
  width: 250px;
  height: 30px;
  padding: 5px 5px 5px 15px;
  font-size: 16px;
  outline: none;
  border: none;

}

.btn-submit {
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border: none;

  cursor: pointer;
  background-color: #e3e3d9;
}

button:hover,
button:focus {
  background-color: #f1ab60;
}

.gallery {
  margin-top: 95px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px
}
.container {
  height: 400px;
}